.App {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  background: white;
  box-shadow: 0px 0 2rem rgb(0, 0, 0, .4);
}

.App header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: rgb(142, 99, 93);
  padding: 0 3rem;
  color: white;
}

.App header .title {
  text-transform: uppercase;
  letter-spacing: .8rem;
}

.App header .navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.App header .navigation a {
  color: white;
  text-decoration: none;
}

.App .content {
  padding: 2rem 3rem;
}

.App a {
  color: rgb(142, 99, 93);
}